<!DOCTYPE html>

<html>
<head>
	<title>Gallery|List</title>
	<link rel="stylesheet" href="/static/services/css/bootstrap.css">
	<link rel="stylesheet" href="/static/services/css/default-skin.css">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600,700,900,200' rel='stylesheet' type='text/css'>
	<style>
	.events {
		padding-top: 30px;
		padding-left:10px;
		font-family: Raleway;
		display: block;
		text-align: center;
	}
	#items{
		color:#FFCC33;
		text-align: center;
	}
	.fixed{
		background-color: #222;
		position: absolute;
		text-align: center;
		width:100%;
		display: block;
	}
	</style>
</head>
<body bgcolor="black" >
<div class="fixed">
<ul>
	<li><a href="gallery/Waves"><h3>WAVES</h3></a></li>
	<li><a href="gallery/Quark"><h3>QUARK</h3></a></li>
	<li><a href="gallery/Spree"><h3>SPREE</h3></a></li>
</ul>
<div class="events">
{% for i in items %}
<a href="gallery/{{i}}"><h3 id="items">{{i}}</h3></a><br><br>
{% endfor %}
</div>
</div>


</body>
</html>
