<!DOCTYPE HTML>
<html>
<head>
 <title>Images                          </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/FinalGal/css/menuStyle.css">
  <link rel="stylesheet" type="text/css" href="/static/FinalGal/css/style.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'> -->
 <!--  <link rel="stylesheet" type="text/css" href="/static/FinalGal/css/style.css">
  <link rel="stylesheet" href="/static/site/css/style1.css">
  <link rel="stylesheet" type="text/css" href="/static/gallery1/css/finalMenu.css"> -->
<link rel="stylesheet" type="text/css" href="/static/gallery1/css/finalMenu.css">
<!-- <link rel="stylesheet" type="text/css" href="/static/FinalGal/css/menuStyle.css"> -->
<link rel="stylesheet" type="text/css" href="/static/FinalGal/css/style.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
<link href="/static/assets/css/main.css" rel="stylesheet">
<link href="/static/assets/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="/static/site/css/style1.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="/static/site/js/mobile.js"></script>
		<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
	</script>

</head>

<body>

   <!-- <div id="container"> 
		<div class="wrap">

			<div id="w3-universal-nav">

    	<ul id="header">
    		<div class="logo">
    		<div class="top-socialicons">
    			<ul>
    				<li><a class="icon1" href="#"></a></li>
    				<li><a class="icon2" href="#"></a></li>
    				<li><a class="icon3" href="#"></a></li>
    				<li><a class="icon4" href="#"></a></li>
    			</ul>
    		</div>
    		<div class="clear"> </div>
    	</ul>
    	<ul id="w3-menu-links" style="display: none;">
    	</ul>
    		</div>
</div> -->

	<div class="clear">
   </div>

			<div class="left-sidebar">

      <div>
          <nav id="menu" class="left">
              <ul>
                <li><a href="home" class="active"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="gallery"><i class="fa fa-info-circle"></i>About</a></li>
                <li> <a href="about"><i class="fa fa-laptop"></i>Our Best <i class="fa fa-caret-down"></i></a>
                  <ul>
                    <li><a href="#">Waves</a></li>
                    <li><a href="#">Quark</a></li>
                    <li><a href="#">Spree</a></li>
                  </ul>
                </li>
                <li><a href="contact"><i class="fa fa-phone"></i>Contact</a></li><br>
                <a href="https://www.facebook.com/DoPY.BITSGoa"><i class="fa fa-facebook" style="font-size:30px;float:right;color:white;"></i></a>
                <a href="https://twitter.com/"><i class="fa fa-twitter" style="font-size:30px;float:right;color:white;"></i></a>
                <a href="https://www.instagram.com/"><i class="fa fa-instagram" style="font-size:30px;float:right;color:white;"></i></a>
              </ul>
              <a href="#" id="showmenu"> <i class="fa fa-align-justify"></i> </a>
               </nav>
</div>
					</div>
    <div id="main" role="main">

     



    <div id="wowslider-container1">
<div class="ws_images"><ul>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit___samsung_suhd_journey_of_color_tlg.mkv_snapshot_00.47_2015.12.06_01.07.30.jpg" alt="4K HEVC 60FPS HDR 10bit -  Samsung SUHD Journey of Color --TLG--.mkv_snapshot_00.47_[2015.12.06_01.07.30]" title="4K HEVC 60FPS HDR 10bit -  Samsung SUHD Journey of Color --TLG--.mkv_snapshot_00.47_[2015.12.06_01.07.30]" id="wows1_0"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.18_2015.12.16_02.22.44.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.18_[2015.12.16_02.22.44]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.18_[2015.12.16_02.22.44]" id="wows1_1"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.20_2015.12.16_02.17.06.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.20_[2015.12.16_02.17.06]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.20_[2015.12.16_02.17.06]" id="wows1_2"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.21_2015.12.16_02.22.49.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.21_[2015.12.16_02.22.49]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.21_[2015.12.16_02.22.49]" id="wows1_3"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.25_2015.12.16_02.17.13.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.17.13]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.17.13]" id="wows1_4"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.25_2015.12.16_02.22.56.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.22.56]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.22.56]" id="wows1_5"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.47_2015.12.16_02.17.54.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.47_[2015.12.16_02.17.54]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.47_[2015.12.16_02.17.54]" id="wows1_6"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.21_2015.12.16_02.23.39.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.21_[2015.12.16_02.23.39]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.21_[2015.12.16_02.23.39]" id="wows1_7"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.23_2015.12.16_02.18.52.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.23_[2015.12.16_02.18.52]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.23_[2015.12.16_02.18.52]" id="wows1_8"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.32_2015.12.16_02.19.09.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.32_[2015.12.16_02.19.09]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.32_[2015.12.16_02.19.09]" id="wows1_9"/></li>
    <li><a href="http://wowslider.com"><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.41_2015.12.16_02.24.27.jpg" alt="wowslideshow" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.41_[2015.12.16_02.24.27]" id="wows1_10"/></a></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.50_2015.12.16_02.19.40.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.50_[2015.12.16_02.19.40]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.50_[2015.12.16_02.19.40]" id="wows1_11"/></li>
  </ul></div>
  <div class="ws_bullets"><div>
    <a href="#" title="4K HEVC 60FPS HDR 10bit -  Samsung SUHD Journey of Color --TLG--.mkv_snapshot_00.47_[2015.12.06_01.07.30]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit___samsung_suhd_journey_of_color_tlg.mkv_snapshot_00.47_2015.12.06_01.07.30.jpg" alt="4K HEVC 60FPS HDR 10bit -  Samsung SUHD Journey of Color --TLG--.mkv_snapshot_00.47_[2015.12.06_01.07.30]"/>1</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.18_[2015.12.16_02.22.44]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.18_2015.12.16_02.22.44.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.18_[2015.12.16_02.22.44]"/>2</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.20_[2015.12.16_02.17.06]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.20_2015.12.16_02.17.06.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.20_[2015.12.16_02.17.06]"/>3</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.21_[2015.12.16_02.22.49]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.21_2015.12.16_02.22.49.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.21_[2015.12.16_02.22.49]"/>4</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.17.13]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.25_2015.12.16_02.17.13.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.17.13]"/>5</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.22.56]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.25_2015.12.16_02.22.56.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.22.56]"/>6</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.47_[2015.12.16_02.17.54]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.47_2015.12.16_02.17.54.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.47_[2015.12.16_02.17.54]"/>7</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.21_[2015.12.16_02.23.39]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.21_2015.12.16_02.23.39.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.21_[2015.12.16_02.23.39]"/>8</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.23_[2015.12.16_02.18.52]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.23_2015.12.16_02.18.52.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.23_[2015.12.16_02.18.52]"/>9</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.32_[2015.12.16_02.19.09]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.32_2015.12.16_02.19.09.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.32_[2015.12.16_02.19.09]"/>10</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.41_[2015.12.16_02.24.27]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.41_2015.12.16_02.24.27.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.41_[2015.12.16_02.24.27]"/>11</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.50_[2015.12.16_02.19.40]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.50_2015.12.16_02.19.40.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.50_[2015.12.16_02.19.40]"/>12</span></a>
  </div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com/vi">slider</a> by WOWSlider.com v8.6</div>
<div class="ws_shadow"></div>
</div>  


      <ul id="tiles">
        <!-- These are our grid blocks -->
        

        <li><a href="/static/site/images/g1.jpg"><img src="/static/site/images/g1.jpg" width="275"></a><p>popular <span><a href="/static/site/images/g1.jpg"><img src="/static/site/images/g1.jpg" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g2.jpg" width="275"></a><p>reproduced  <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g3.jpg" width="275"></a><p>Photoshopped  <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g5.jpg" width="275"></a><p>new <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g6.jpg" width="275"></a><p>week 1 best <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g7.jpg" width="275"></a><p>week 2 best <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g5.jpg" width="275"></a><p>week 3 best <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g9.jpg" width="275"></a><p>week  4 best  <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g10.jpg" width="275"></a><p>week 5 best  <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g7.jpg" width="275"></a><p>Hysterical <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g12.jpg" width="275"></a><p>random <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g11.jpg" width="275"></a><p>Trending <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g13.jpg" width="275"></a><p>Fresh <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g14.jpg" width="275"></a><p>Hall of fame <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g15.jpg" width="275"></a><p>Scenic<span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g16.jpg" width="275"></a><p>Beauty  <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g17.jpg" width="275"></a><p>Skyfall  <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g18.jpg" width="275"></a><p>altered elements  <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g19.jpg" width="275"></a><p>Internet <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g9.jpg" width="275"></a><p>Deception <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g10.jpg" width="275"></a><p>Emboss <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g7.jpg" width="275"></a><p>HDR 1<span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g12.jpg" width="275"></a><p>HDR 2  <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        <li><a href="singlepage.html"><img src="/static/site/images/g11.jpg" width="275"></a><p>reproduced  <span><a href="singlepage.html"><img src="/static/site/images/view-icon.png" title="view" /><a href="singlepage.html"><img src="/static/site/images/like.png" title="like" /><a href="singlepage.html"><img src="/static/site/images/comment.png" title="link" /></a><a href="singlepage.html"><img src="/static/site/images/priview.png" title="priview" /></a></span></p></li>
        
      </ul>

    </div>
   </div>
    <footer>

    </footer>
  </div>
		
  
  <script src="/static/site/js/jquery.min.js"></script>

  
  <script src="/static/site/js/jquery.imagesloaded.js"></script>

  
  <script src="/static/site/js/jquery.wookmark.js"></script>
  <script type="text/javascript" src="/static/FinalGal/js/wowslider.js"></script>
<script type="text/javascript" src="/static/FinalGal/js/script.js"></script>

  <script>
$("#showmenu").click(function(e){
      e.preventDefault();
      $("#menu").toggleClass("show");
    });
    $("#menu a").click(function(event){
      event.preventDefault();
      if($(this).next('ul').length){
        $(this).next().toggle('fast');
        $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
      }
    });
</script>
  <script type="text/javascript">
    (function ($){
      $('#tiles').imagesLoaded(function() {
        var handler = null;

        
        var options = {
          autoResize: true, 
          container: $('#main'), 
          offset: 20, 
          itemWidth: 275 
        };

        
        function onScroll(event) {
          
          var winHeight = window.innerHeight ? window.innerHeight : $(window).height(); 
          var closeToBottom = ($(window).scrollTop() + winHeight > $(document).height() - 100);

          if (closeToBottom) {
            
            var items = $('#tiles li'),
                firstTen = items.slice(0, 10);
            $('#tiles').append(firstTen.clone());

           
            if (handler.wookmarkInstance) {
              handler.wookmarkInstance.clear();
            }

            handler = $('#tiles li');
            handler.wookmark(options);
          }
        };

        $(window).bind('scroll', onScroll);

        handler = $('#tiles li');
        handler.wookmark(options);
      });
    })(jQuery);
  </script>
</div>
</body>
</html>
