<!DOCTYPE html >
<html lang="en">
<head>
  <!-- Meta Tags -->
  <meta charset="utf-8"/>
  <meta name="description" content="Phozer-personal and photography template"/>
  <meta name="keywords" content="responsive, creative, html/css, theme" />
  <meta name="author" content="harry"/>

  <!-- Site Title-->
  <title>Phozer</title>

  <!-- Mobile Specific Metas-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>


	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Crete+Round:400,400italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="/static/gallery1/css/bootstrap.min.css" media="screen">	
	<link rel="stylesheet" type="text/css" href="/static/gallery1/css/magnific-popup.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/static/gallery1/css/font-awesome.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/static/gallery1/css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/static/gallery1/css/light-blue.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/static/gallery1/css/responsive.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/static/menu-navbar/css/menu.css" media="screen">	
	
</head>
<body>

	<!-- Container -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="index.html#home">LINK</a></h1>
			<i class="fa fa-arrow-right menu-close"></i>
			<a href="home">Home</a>
			<a href="about">About</a>
			<a href="contact">Contact</a>
			<a href="https://www.facebook.com/DoPY.BITSGoa"><i class="fa fa-facebook"></i></a>
			<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
			<a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
		</div>
          
		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>
	

		<!-- content 
		================================================== -->
		<div id="content">
			<div class="inner-content">
				<div class="portfolio-page">
					<!-- Filter -->
					<div class="filter-box">
						<ul class="filter list-inline text-center">
							<!-- <li><a href="#" class="active" data-filter="*">All Works</a></li>
							<li><a href="#" data-filter=".web-design">Web Design</a></li>
							<li><a href="#" data-filter=".photography">Photography</a></li>
							<li><a href="#" data-filter=".brand">Brand</a></li>
							<li><a href="#" data-filter=".logo">Logo</a></li>
							<li><a href="#" data-filter=".illustration">Illustration</a></li> -->
						</ul>
					</div>

					<div class="container-fluid">
						<div class="row">
					        <div class="portfolio-box">
						        
						        <!-- Work-item -->
								<div class="col-sm-3 web-design illustration">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image1.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image1.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 photography">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image2.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image2.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 web-design logo">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image3.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image3.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 photography illustration">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image4.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image4.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 brand logo">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image5.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image5.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 web-design illustration">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image6.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image6.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 photography">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image7.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image7.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 brand illustration">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image8.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image8.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 logo">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image9.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image9.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 web-design brand">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image10.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image10.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 photography illustration">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image11.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image11.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 brand logo">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image12.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image12.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 web-design illustration">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image2.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image2.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 photography brand">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image4.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image4.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 logo illustration">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image6.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image6.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 photography logo">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image1.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image1.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 brand">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image3.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image3.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 logo illustration">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image7.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image7.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 photography brand">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image9.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image9.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

								<!-- Work-item -->
								<div class="col-sm-3 brand logo">
									<div class="item-img-wrap">
						              <img src="/static/gallery1/upload/image11.jpg" class="img-responsive" alt="workimg">
						              <div class="item-img-overlay">
						                <a href="/static/gallery1/upload/image11.jpg" class="show-image">
						                  <span></span>
						                </a>
						              </div>
						            </div>
								</div>

						    </div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->

	<!-- Preloader -->
	<div class="preloader">
		<img alt="" src="images/preloader.gif">
	</div>

	<!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/menu-navbar/js/main.js"></script>
	<script type="text/javascript" src="/static/gallery1/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/gallery1/js/jquery.migrate.js"></script>
	<script type="text/javascript" src="/static/gallery1/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/static/gallery1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/gallery1/js/jquery.imagesloaded.min.js"></script>
  	<script type="text/javascript" src="/static/gallery1/js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="/static/gallery1/js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="/static/gallery1/js/SmoothScroll.js"></script>
	<script type="text/javascript" src="/static/gallery1/js/script.js"></script>

	<script type="text/javascript">
		//Magnific Popup
	    $('.show-image').magnificPopup({type: 'image'});
	</script>


</body>
</html>