
<!DOCTYPE html>
<html>
<title>Events</title>
  <head>
    <!-- Document Settings -->

    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="theme-color" content="#ef4138">
    

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/services/gallery/favicon.png">

    <!-- Page Title -->
    <title>{{title}}</title>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600,700,900,200' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    {% include "menu_css.html" %}
    <link rel="stylesheet" href="/static/services/css/bootstrap.css">

    <!-- Custom css file -->
    <link rel="stylesheet" href="/static/services/css/style.css">
    <style>
        h1{
          text-align:center;
    padding-top:50px;
        }
    </style>

    <!-- Plugins -->
    <link rel="stylesheet" href="/static/services/css/jquery.fullPage.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/services/css/photoswipe.css">
    <link rel="stylesheet" href="/static/services/css/default-skin.css">
    <link rel="stylesheet" href="/static/services/css/animate.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>

  </head>
  <body>
  

    <!-- Mobile Menu -->
    {% include "menu.html" %}   
      
  
    

    <!--Content-->
      <main class="content">
      <div class="container">

      <div class="starter-template">
        <h1>Events covered by DoPy BITS Goa</h1>
      </div>

    </div>


    <div class="container marketing">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div  class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">WAVES, <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">The 3 day  annual cultural fest of BITS Goa which boasts of a footfall of about 35,000 from more than 150 colleges all over the country!.</p>
          <p class="lead"><a href="" data-toggle="modal" data-target="#waves"><span class = "glyphicon glyphicon-link"></span>View</a></p>

            <!--modal-->
      <div class="modal fade" id="waves">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              
              <h4 class="modal-title">Events @ WAVES</h4>
            </div>
            <div class="modal-body">
              <ul style="list-style-type: none;">
                {% for i in waves_list %}
                  <li><a href="events/{{i}}"><span class = "glyphicon glyphicon-link">{{i}}</a></li>
                {% endfor %}
              </ul>
            <div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
            </div>
            </div>
           </div>
          </div>
      </div>
    </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="media/gallery_list_images/waves.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">QUARK,<span class="text-muted">Disrupt the Dimension</span></h2>
          <p class="lead">One of the biggest tech fests in the country, it celebrates innovation and technology and  is host to many competitions, lectures, exhibitiobs and workshops.</p>
           <p class="lead"><a href = ""  data-toggle="modal" data-target="#quark"><span class = "glyphicon glyphicon-link"></span>View</a></p>
           <div class="modal fade" id="quark">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Events @ QUARK</h4>
            </div>
            <div class="modal-body">

              <ul style="list-style-type: none;">
                {% for i in quark_list %}
                  <li><a href="events/{{i}}"><span class = "glyphicon glyphicon-link">{{i}}</a></li>
                {% endfor %}
              </ul>
            <div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
            </div>
            </div>
        </div>
          </div>
      </div>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="media/gallery_list_images/quark.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">SPREE,<span class="text-muted">Tame the Arena</span></h2>
          <p class="lead">With the sole aim of promoting sports and interaction amongst colleges from India, Spree offers a plethora of fiercely contested events.</p>
           <p class="lead"><a href = ""  data-toggle="modal" data-target="#spree"><span class = "glyphicon glyphicon-link"></span>View</a></p>
           <div class="modal fade" id="spree">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Events @ SPREE</h4>
            </div>
            <div class="modal-body">
              <ul style="list-style-type: none;">
                {% for i in spree_list %}
                  <li><a href="events/{{i}}"><span class = "glyphicon glyphicon-link">{{i}}</a></li>
                {% endfor %}
              </ul>
            <div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
            </div>
            </div>
        </div>
          </div>
      </div>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="media/gallery_list_images/spree.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">ZEPHYR, <span class="text-muted">For the Li8,By the Li8</span></h2>
          <p class="lead">This intra-college sports, cultural and technical festival is to definitely look out for and is one of the most fun filled events at college, with 14 hostels fighting to claim the rolling trophy.</p>
           <p class="lead"><a href = ""  data-toggle="modal" data-target="#coalescence"><span class = "glyphicon glyphicon-link"></span>View</a></p>
           <div class="modal fade" id="coalescence">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Events @ ZEPHYR</h4>
            </div>
            <div class="modal-body">
              <ul style="list-style-type: none;">
                {% for i in zephyr_list %}
                  <li><a href="events/{{i}}"><span class = "glyphicon glyphicon-link">{{i}}</a></li>
                {% endfor %}
              </ul>
            <div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
            </div>
            </div>
        </div>
          </div>
      </div>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="media/gallery_list_images/zephyr.jpg" alt="Generic placeholder image">
        </div>
      </div>


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">TEDx, <span class="text-muted">Listen Up!</span></h2>
          <p class="lead">Officially being the oldest TEDx in India, TEDxBITSGoa started over six years ago, with the aim of spreading the ideals of TED in the KK Birla Goa Campus, and consequently, Goa.</p>
           <p class="lead"><a href = ""  data-toggle="modal" data-target="#tedx"><span class = "glyphicon glyphicon-link"></span>View</a></p>
           <div class="modal fade" id="tedx">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Events @ TEDx</h4>
            </div>
            <div class="modal-body">
              <ul style="list-style-type: none;">
                {% for i in tedx_list %}
                  <li><a href="events/{{i}}"><span class = "glyphicon glyphicon-link">{{i}}</a></li>
                {% endfor %}
              </ul>
            <div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
            </div>
            </div>
        </div>
          </div>
      </div>
        </div>
        <div class="col-md-5 ">
          <img class="featurette-image img-responsive center-block" src="media/gallery_list_images/tedx.jpg" alt="Generic placeholder image">
        </div>
      </div>


      <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">OTHER EVENTS<br></h2>
          <p class="lead">Hola! Catch up with many other events on the campus - Music night, Dance night,Srutilaya,workshops, conferences and seminars.</p>
           <p class="lead"><a href = ""  data-toggle="modal" data-target="#others"><span class = "glyphicon glyphicon-link"></span>View</a></p>
           <div class="modal fade" id="others">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">OTHER EVENTS</h4>
            </div>
            <div class="modal-body">
              <ul style="list-style-type: none;">
                {% for i in other_list %}
                  <li><a href="events/{{i}}"><span class = "glyphicon glyphicon-link">{{i}}</a></li>
                {% endfor %}
              </ul>
            <div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
            </div>
            </div>
        </div>
          </div>
      </div>
           
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="media/gallery_list_images/others.jpg" alt="Generic placeholder image">
        </div>
      </div>



    
     
      <!-- /Root element of PhotoSwipe. Must have class pswp. -->

      <!-- Back to top button -->
        <a href="#" class="back-top btn">
          <i class="fa fa-angle-up fa-2x"></i>
        </a>
      <!-- /Back to top button -->

      <!-- Footer -->
        <div style="background-color: #222;width: 100%;margin-bottom: -50px; text-align: center;">
          <p style="padding-top: 20px;">© DoPy {% now "Y" %}. All rights reserved.</p><hr>
          <p>Developed By</p>
          <div class="container" style="background-color: #222;">
            <div class="col-md-4 col-sm-6 col-xs-12" style="float: left;">
           <a href="https://www.facebook.com/Gamesterassassin23"><h5>Snimarpal Singh </h5></a>
          <p >snimar23@gmail.com</p>
          <p>+91 7057414472</p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12" style="float: right;">
          <a href="https://www.facebook.com/anant.sharma.108"><h5 >Anant Sharma</h5></a>
          <p>anant.2047@gmail.com</p>
          <p>+91 7057422307</p>
          </div>
        </div>
      <!-- /Footer -->
        
      </div>
    <!-- /Content -->

    </main>
  <!-- /Container -->

  <!-- JS -->
  {% include "menu_js.html" %}

    <!-- jquery-1.11.3.min js -->
      <script type="text/javascript" src="/static/services/js/jquery-1.11.3.min.js"></script>

    <!-- Plugins -->
      <script type="text/javascript" src="/static/services/js/jquery.fullPage.min.js"></script>
      <script type="text/javascript" src="/static/services/js/imagesloaded.pkgd.min.js"></script>
      <script type="text/javascript" src="/static/services/js/masonry.js"></script>
      <script type="text/javascript" src="/static/services/js/website-smooth-scroll.js"></script>
      <script type="text/javascript" src="/static/services/js/photoswipe.min.js"></script>
      <script type="text/javascript" src="/static/services/js/photoswipe-ui-default.min.js"></script>
      <script>window.jQuery || document.write('<script src="static/assets/js/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Main js -->
      <script src="/static/services/js/main.js"></script>
  </body>
</html>