{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Codester | Work</title>
  <meta charset="utf-8">
  <!-- <link rel="icon" href="http://dzyngiri.com/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="http://dzyngiri.com/favicon.png" type="image/x-icon" />
    <meta name="description" content="Codester is a free responsive Bootstrap template by Dzyngiri">
    <meta name="keywords" content="free, template, bootstrap, responsive">
    <meta name="author" content="Inbetwin Networks">   -->
    <!--Touchtouch here working everything without gif-->
    <link rel="stylesheet" type="text/css" href="/static/gallery1/css/finalMenu.css">
    <link rel="stylesheet" href="/static/gallery/css/bootstrap.css" >
    <link rel="stylesheet" href="/static/gallery/css/responsive.css">
    <link rel="stylesheet" href="/static/gallery/css/stylegallery.css" >
   <link rel="stylesheet" href="/static/gallery/css/touchTouch.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/FinalGal/css/style.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
    
    
    <script  src="/static/gallery/js/superfish.js"></script>
    <script  src="/static/gallery/js/jquery.easing.1.3.js"></script> 
    <script  src="/static/gallery/js/jquery.cookie.js"></script>
    <script  src="/static/gallery/js/touchTouch.jquery.js"></script>
    
  

  <!--[if lt IE 8]>
      <div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com//static/gallery/img/upgrade.jpg"border="0"alt=""/></a></div>  
  <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!-->
  <!--<![endif]-->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="/static/gallery/docs.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/gallery/ie.css" type="text/css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
  <![endif]-->
  
    <!--Google analytics code-->    
    <script type="text/javascript">
           var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-29231762-1']);
          _gaq.push(['_setDomainName', 'dzyngiri.com']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
      </script>
  </head>

<body>


  <!--MENU-->
  
  <!--MENU ENDS-->


<div class="bg-content">       
  <!-- Content -->
  <nav id="menu" class="left">
  <ul>
    <li><a href="home" class="active"><i class="fa fa-home"></i>Home</a></li>
    <li><a href="gallery"><i class="fa fa-info-circle"></i>About</a></li>
    <li> <a href="about"><i class="fa fa-laptop"></i>Our Best <i class="fa fa-caret-down"></i></a>
      <ul>
        <li><a href="#">Waves</a></li>
        <li><a href="#">Quark</a></li>
        <li><a href="#">Spree</a></li>
      </ul>
    </li>
    <li><a href="contact"><i class="fa fa-phone"></i>Contact</a></li><br>
    <a href="https://www.facebook.com/DoPY.BITSGoa"><i class="fa fa-facebook" style="font-size:30px;float:right;color:white;"></i></a>
    <a href="https://twitter.com/"><i class="fa fa-twitter" style="font-size:30px;float:right;color:white;"></i></a>
    <a href="https://www.instagram.com/"><i class="fa fa-instagram" style="font-size:30px;float:right;color:white;"></i></a>
  </ul>
  <a href="#" id="showmenu"> <i class="fa fa-align-justify"></i> </a> </nav>      
      <div id="content"><div class="ic"></div>
    <div class="container">
          <div class="row">
        <article class="span12">
        <h4>Portfolio</h4>
        <!-- <div id="wowslider-container1">
<div class="ws_images"><ul>
    <li><img src="/static/FinalGal/images/1.jpg" alt="1" title="1" id="wows1_0"/></li>
    <li><img src="/static/FinalGal/images/10.jpg" alt="10" title="10" id="wows1_1"/></li>
    <li><img src="/static/FinalGal/images/11.jpg" alt="11" title="11" id="wows1_2"/></li>
    <li><img src="/static/FinalGal/images/12.jpg" alt="12" title="12" id="wows1_3"/></li>
    <li><img src="/static/FinalGal/images/13.jpg" alt="13" title="13" id="wows1_4"/></li>
    <li><img src="/static/FinalGal/images/14.jpg" alt="14" title="14" id="wows1_5"/></li>
    <li><img src="/static/FinalGal/images/15.jpg" alt="15" title="15" id="wows1_6"/></li>
    <li><img src="/static/FinalGal/images/2.jpg" alt="2" title="2" id="wows1_7"/></li>
    <li><img src="/static/FinalGal/images/3.jpg" alt="3" title="3" id="wows1_8"/></li>
    <li><img src="/static/FinalGal/images/4.jpg" alt="4" title="4" id="wows1_9"/></li>
    <li><img src="/static/FinalGal/images/5.jpg" alt="5" title="5" id="wows1_10"/></li>
    <li><img src="/static/FinalGal/images/6.jpg" alt="6" title="6" id="wows1_11"/></li>
    <li><img src="/static/FinalGal/images/7.jpg" alt="7" title="7" id="wows1_12"/></li>
    <li><a href="http://wowslider.com"><img src="/static/FinalGal/images/8.jpg" alt="http://wowslider.com/" title="8" id="wows1_13"/></a></li>
    <li><img src="/static/FinalGal/images/9.jpg" alt="9" title="9" id="wows1_14"/></li>
  </ul></div>
  <div class="ws_bullets"><div>
    <a href="#" title="1"><span><img src="/static/FinalGal/tooltips/1.jpg" alt="1"/>1</span></a>
    <a href="#" title="10"><span><img src="/static/FinalGal/tooltips/10.jpg" alt="10"/>2</span></a>
    <a href="#" title="11"><span><img src="/static/FinalGal/tooltips/11.jpg" alt="11"/>3</span></a>
    <a href="#" title="12"><span><img src="/static/FinalGal/tooltips/12.jpg" alt="12"/>4</span></a>
    <a href="#" title="13"><span><img src="/static/FinalGal/tooltips/13.jpg" alt="13"/>5</span></a>
    <a href="#" title="14"><span><img src="/static/FinalGal/tooltips/14.jpg" alt="14"/>6</span></a>
    <a href="#" title="15"><span><img src="/static/FinalGal/tooltips/15.jpg" alt="15"/>7</span></a>
    <a href="#" title="2"><span><img src="/static/FinalGal/tooltips/2.jpg" alt="2"/>8</span></a>
    <a href="#" title="3"><span><img src="/static/FinalGal/tooltips/3.jpg" alt="3"/>9</span></a>
    <a href="#" title="4"><span><img src="/static/FinalGal/tooltips/4.jpg" alt="4"/>10</span></a>
    <a href="#" title="5"><span><img src="/static/FinalGal/tooltips/5.jpg" alt="5"/>11</span></a>
    <a href="#" title="6"><span><img src="/static/FinalGal/tooltips/6.jpg" alt="6"/>12</span></a>
    <a href="#" title="7"><span><img src="/static/FinalGal/tooltips/7.jpg" alt="7"/>13</span></a>
    <a href="#" title="8"><span><img src="/static/FinalGal/tooltips/8.jpg" alt="8"/>14</span></a>
    <a href="#" title="9"><span><img src="/static/FinalGal/tooltips/9.jpg" alt="9"/>15</span></a>
  </div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com/vi">bootstrap slider</a> by WOWSlider.com v8.6</div>
<div class="ws_shadow"></div>
</div> -->
<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit___samsung_suhd_journey_of_color_tlg.mkv_snapshot_00.47_2015.12.06_01.07.30.jpg" alt="4K HEVC 60FPS HDR 10bit -  Samsung SUHD Journey of Color --TLG--.mkv_snapshot_00.47_[2015.12.06_01.07.30]" title="4K HEVC 60FPS HDR 10bit -  Samsung SUHD Journey of Color --TLG--.mkv_snapshot_00.47_[2015.12.06_01.07.30]" id="wows1_0"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.18_2015.12.16_02.22.44.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.18_[2015.12.16_02.22.44]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.18_[2015.12.16_02.22.44]" id="wows1_1"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.20_2015.12.16_02.17.06.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.20_[2015.12.16_02.17.06]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.20_[2015.12.16_02.17.06]" id="wows1_2"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.21_2015.12.16_02.22.49.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.21_[2015.12.16_02.22.49]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.21_[2015.12.16_02.22.49]" id="wows1_3"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.25_2015.12.16_02.17.13.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.17.13]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.17.13]" id="wows1_4"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.25_2015.12.16_02.22.56.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.22.56]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.22.56]" id="wows1_5"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.47_2015.12.16_02.17.54.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.47_[2015.12.16_02.17.54]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.47_[2015.12.16_02.17.54]" id="wows1_6"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.21_2015.12.16_02.23.39.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.21_[2015.12.16_02.23.39]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.21_[2015.12.16_02.23.39]" id="wows1_7"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.23_2015.12.16_02.18.52.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.23_[2015.12.16_02.18.52]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.23_[2015.12.16_02.18.52]" id="wows1_8"/></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.32_2015.12.16_02.19.09.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.32_[2015.12.16_02.19.09]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.32_[2015.12.16_02.19.09]" id="wows1_9"/></li>
    <li><a href="http://wowslider.com"><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.41_2015.12.16_02.24.27.jpg" alt="wowslideshow" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.41_[2015.12.16_02.24.27]" id="wows1_10"/></a></li>
    <li><img src="/static/FinalGal/images//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.50_2015.12.16_02.19.40.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.50_[2015.12.16_02.19.40]" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.50_[2015.12.16_02.19.40]" id="wows1_11"/></li>
  </ul></div>
  <div class="ws_bullets"><div>
    <a href="#" title="4K HEVC 60FPS HDR 10bit -  Samsung SUHD Journey of Color --TLG--.mkv_snapshot_00.47_[2015.12.06_01.07.30]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit___samsung_suhd_journey_of_color_tlg.mkv_snapshot_00.47_2015.12.06_01.07.30.jpg" alt="4K HEVC 60FPS HDR 10bit -  Samsung SUHD Journey of Color --TLG--.mkv_snapshot_00.47_[2015.12.06_01.07.30]"/>1</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.18_[2015.12.16_02.22.44]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.18_2015.12.16_02.22.44.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.18_[2015.12.16_02.22.44]"/>2</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.20_[2015.12.16_02.17.06]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.20_2015.12.16_02.17.06.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.20_[2015.12.16_02.17.06]"/>3</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.21_[2015.12.16_02.22.49]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.21_2015.12.16_02.22.49.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.21_[2015.12.16_02.22.49]"/>4</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.17.13]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.25_2015.12.16_02.17.13.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.17.13]"/>5</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.22.56]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.25_2015.12.16_02.22.56.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.25_[2015.12.16_02.22.56]"/>6</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.47_[2015.12.16_02.17.54]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_00.47_2015.12.16_02.17.54.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_00.47_[2015.12.16_02.17.54]"/>7</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.21_[2015.12.16_02.23.39]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.21_2015.12.16_02.23.39.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.21_[2015.12.16_02.23.39]"/>8</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.23_[2015.12.16_02.18.52]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.23_2015.12.16_02.18.52.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.23_[2015.12.16_02.18.52]"/>9</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.32_[2015.12.16_02.19.09]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.32_2015.12.16_02.19.09.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.32_[2015.12.16_02.19.09]"/>10</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.41_[2015.12.16_02.24.27]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.41_2015.12.16_02.24.27.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.41_[2015.12.16_02.24.27]"/>11</span></a>
    <a href="#" title="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.50_[2015.12.16_02.19.40]"><span><img src="/static/FinalGal/tooltips//4k_hevc_60fps_hdr_10bit__samsung_suhd_sensational_picture_tlg.mkv_snapshot_01.50_2015.12.16_02.19.40.jpg" alt="4K HEVC 60FPS HDR 10bit - Samsung SUHD Sensational Picture --TLG--.mkv_snapshot_01.50_[2015.12.16_02.19.40]"/>12</span></a>
  </div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com/vi">slider</a> by WOWSlider.com v8.6</div>
<div class="ws_shadow"></div>
</div>  
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->
         </article>
        <div class="clear"></div>
         <ul class="portfolio clearfix">

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >

           <img alt="" src="/static/gallery/img/work/image-blank.jpg"></a></li>

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/2.jpg"></a></li> 

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/3.jpg"></a></li> 

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/4.jpg"></a></li> 

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/5.jpg"></a></li> 

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/6.jpg"></a></li> 

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/7.jpg"></a></li>

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/8.jpg"></a></li>

           <div class="clear"></div>

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/9.jpg"></a></li> 

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/10.jpg"></a></li> 

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/11.jpg"></a></li> 

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/12.jpg"></a></li> 

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/13.jpg"></a></li> 

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/14.jpg"></a></li> 

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/15.jpg"></a></li> 

           <li class="box"><a href="/static/gallery/img/image-blank.jpg" class="magnifier" >
           <img alt="" src="/static/gallery/img/work/16.jpg"></a></li>                  
            </ul> 
      </div>
        </div>
  </div>
    </div>

<!-- footer -->
<footer>
      <div class="container clearfix">
    <ul class="list-social pull-right">
          <li><a class="icon-1" href="#"></a></li>
          <li><a class="icon-2" href="#"></a></li>
          <li><a class="icon-3" href="#"></a></li>
          <li><a class="icon-4" href="#"></a></li>
        </ul>
    <div class="privacy pull-left">&copy; 2013 | <a href="http://www.dzyngiri.com">Dzyngiri : Online Design Magazine</a> | <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a> | Demo Illustrations by <a href="http://justinmezzell.com" target="_blank">Justin Mezzell</a></div>
  </div>
    </footer>

<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript">if($(window).width()>1024){document.write("<"+"script src='/static/gallery/js/jquery.preloader.js'"+"></"+"script>");}  </script>
<script>
$("#showmenu").click(function(e){
      e.preventDefault();
      $("#menu").toggleClass("show");
    });
    $("#menu a").click(function(event){
      event.preventDefault();
      if($(this).next('ul').length){
        $(this).next().toggle('fast');
        $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
      }
    });
</script>

  <script>    
     jQuery(window).load(function() { 
     $x = $(window).width();    
  if($x > 1024)
  {     
  jQuery("#content .row").preloader();    }      
   jQuery('.magnifier').touchTouch();
     jQuery('.spinner').animate({'opacity':0},1000,'easeOutCubic',function (){jQuery(this).css('display','none')}); 
        }); 
          
  </script>

<script type="text/javascript" src="/static/FinalGal/js/wowslider.js"></script>
<script type="text/javascript" src="/static/FinalGal/js/script.js"></script>
<script type="text/javascript" src="/static/gallery/js/bootstrap.js"></script>
</body>
</html>