{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>dOpY</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/static/gallery1/css/finalMenu.css">
    <link href="{% static "assets/css/main.css" %}" rel="stylesheet">

    <link href="{% static "assets/css/font-awesome.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/fullslider/css/style_home.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <script src="{% static "assets/js/modernizr.custom.js" %}"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="/static/site/js/mobile.js"></script>
		<script>
		$(function() {
			var pull 		= $('#pull');
				menu 		= $('nav ul');
				menuHeight	= menu.height();

			$(pull).on('click', function(e) {
				e.preventDefault();
				menu.slideToggle();
			});

			$(window).resize(function(){
        		var w = $(window).width();
        		if(w > 320 && menu.is(':hidden')) {
        			menu.removeAttr('style');
        		}
    		});
		});
	</script>


  </head>

  <body>
  <div id="wowslider-container1">
<div class="ws_images"><ul>
	{% for p,t in slider_list %} 
      <li><img src="/media/home_slider/img/{{p}}" alt="{{t}}" title="{{t}}" id="wows1_{{t}}"/></li>
    {% endfor %}
	</div>
		

    <div class="ws_bullets">
    <div>
      {% for o,l in thumbnails_list %}
        <a href="#" title = {{l}} ><span><img src="/media/home_slider/thumbnails/{{o}}" alt={{l}}/>1</span></a>
      {% endfor %}
    </div>
  </div>

	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">wow slider</a> by WOWSlider.com v8.6</div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="/static/fullslider/js/wowslider_home.js"></script>
<script type="text/javascript" src="/static/fullslider/js/script_home.js"></script>
	<!-- Menu -->
	<div class="left-sidebar">

      <div>
          <nav id="menu" class="left">
              <ul>
                <li class="homefix"><a href="home" class="active"><i class="fa fa-home"></i>Home</a></li>
                <li class="galleryfix"><a href="gallery"><i class="fa fa-camera"></i>Gallery</a></li>
                <li class="aboutfix"><a href="gallery"><i class="fa fa-info-circle"></i>About</a></li>
                <li> <a href="#"><i class="fa fa-xing"></i>Our Best <i class="fa fa-caret-down"></i></a>
                  <ul>
                    <li class="wavesfix"><a href="#">Waves</a></li>
                    <li class="quarkfix"><a href="#">Quark</a></li>
                    <li class="spreefix"><a href="#">Spree</a></li>
                  </ul>
                </li>
                <li class="contactfix"><a href="contact"><i class="fa fa-phone"></i>Contact</a></li><br>
                <br><br>
                {% block content %}
                {% endblock %}
         
				 
		          {% if request.user.is_authenticated %}
		            <input class="btn btn-primany" type="submit" value="Logout" onclick="window.location.href='http://127.0.0.1:8000/accounts/logout'">
		            {% else %}
		            <input class="btn btn-primany" type="submit" value="Sign Up" onclick="window.location.href='http://127.0.0.1:8000/accounts/register'">
		            {% endif %}
          		

          {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
           
              <input class="btn btn-primany" type="submit" value="Login" onclick="window.location.href='http://127.0.0.1:8000/accounts/login'">

          </form>
          {% endif %}

                <br>
                <br>
                <a href="https://www.facebook.com/DoPY.BITSGoa"><i class="fa fa-facebook" style="font-size:30px;float:right;color:white;"></i></a>
                <a href="https://twitter.com/"><i class="fa fa-twitter" style="font-size:30px;float:right;color:white;"></i></a>
                <a href="https://www.instagram.com/"><i class="fa fa-instagram" style="font-size:30px;float:right;color:white;"></i></a>
              </ul>
              <a href="#" id="showmenu"> <i class="fa fa-align-justify"></i> </a>
               </nav>
</div>
	
	<!-- MAIN IMAGE SECTION -->
	

	<!-- WELCOME SECTION -->
    <div class="container">
      <div class="row mt">
      	<div class="col-lg-8">
	        <h1>We build websites &amp; apps that people love!</h1>
	        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      	</div>
      </div><!-- /row -->
    </div><!-- /.container -->
    
    <!-- PORTFOLIO SECTION -->
    <div id="portfolio">
    	<div class="container"
	    	<div class="row mt">
				<ul class="grid effect-2" id="grid">
					
					{% for p,t in panel_list %}
					<li><a href="/gallery/{{p}}"><img src="/media/events/{{p}}/panelImages/img/{{t}}">{{p}}</img></a></li>
					{% endfor %}
				</ul>
	    	</div><!-- row -->
	    </div><!-- container -->
    </div><!-- portfolio -->
	
	<!-- BLOG POSTS -->
	<div class="container">
		<div class="row mt">
			<div class="col-lg-12">
				<h1>Recent Post</h1>
			</div><!-- col-lg-12 -->
			<div class="col-lg-8">
				<p>Latest releases by Dopy.</p>
			</div><!-- col-lg-8-->
		</div><!-- row -->
		
		<div class="row mt">

				<div class="col-lg-4">
					<img class="img-responsive" src="/media/events/{{event1}}/sliderImages/img/{{event1_image}}" alt="">
					<h3><a href="gallery/{{event1}}">{{event1}}</a></h3>
					<p><a href="gallery/{{event1}}"><i class="fa fa-link"></i> View</a></p>
				</div>
				
				<div class="col-lg-4">
					<img class="img-responsive" src="/media/events/{{event2}}/sliderImages/img/{{event2_image}}" alt="">
					<h3><a href="gallery/{{event2}}">{{event2}}</a></h3>
					<p><a href="gallery/{{event2}}"><i class="fa fa-link"></i> View</a></p>
				</div>
				
				<div class="col-lg-4">
					<img class="img-responsive" src="/media/events/{{event3}}/sliderImages/img/{{event3_image}}" alt="">
					<h3><a href="gallery/{{event3}}">{{event3}}</a></h3>
					<p><a href="gallery/{{event3}}"><i class="fa fa-link"></i> View</a></p>
				</div>

		</div><!-- row -->
	</div><!-- container -->

	
	<div class="container">
		<div class="row mt">
			<div class="col-lg-12">
				<h1>Stay Connected</h1>
				<p>Join us on our social networks for all the latest updates, product/service announcements and more.</p>
				<br>
			</div><!-- col-lg-12 -->
		</div><!-- row -->
	</div><!-- container -->
	
	
<!-- 	SOCIAL FOOTER -->
	<section id="contact"></section>
	<div id="sf">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 dg">
					<h4 class="ml">FACEBOOK</h4>
					<p class="centered"><a href="https://www.facebook.com/DoPY.BITSGoa"><i class="fa fa-facebook"></i></a></p>
					<p class="ml">> Like Us On Facebook</p>
				</div>
				<div class="col-lg-4 lg">
					<h4 class="ml">TWITTER</h4>
					<p class="centered"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></p>
					<p class="ml">> Follow Us</p>
				</div>
				<div class="col-lg-4 dg">
					<h4 class="ml">INSTAGRAM</h4>
					<p class="centered"><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></p>
					<p class="ml">> Like Us On Instagram </p>
				</div>
			</div>

	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    >

  <script>
$("#showmenu").click(function(e){
      e.preventDefault();
      $("#menu").toggleClass("show");
    });
    $("#menu a").click(function(event){
      event.preventDefault();
      if($(this).next('ul').length){
        $(this).next().toggle('fast');
        $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
      }
    });
    $('.homefix a').on('click',function() {           
        window.location.href = "http://127.0.0.1:8000/home";  
});
  $('.aboutfix a').on('click',function() {           
        window.location.href = "http://127.0.0.1:8000/about"; 
});
  $('.galleryfix a').on('click',function() {           
        window.location.href = "http://127.0.0.1:8000/gallery"; 
});
  $('.contactfix a').on('click',function() {           
        window.location.href = "http://127.0.0.1:8000/contact";  
});
  $('.wavesfix a').on('click',function() {           
        window.location.href = "http://127.0.0.1:8000/gallery/waves";  
});
  $('.quarkfix a').on('click',function() {           
        window.location.href = "http://127.0.0.1:8000/gallery/quark";  
});
  $('.spreefix a').on('click',function() {           
        window.location.href = "http://127.0.0.1:8000/gallery/spree";  
});
  $('.fbfix a').on('click',function() {           
        window.location.href = "https://www.facebook.com/DoPY.BITSGoa"; 
});
  $('.twitterfix a').on('click',function() {           
        window.location.href = "https://www.twitter.com";
});
  $('.instagramfix a').on('click',function() {           
        window.location.href = "https://www.instagram.com";  // Change This
});
  $('.signupfix a').on('click',function() {           
        window.location.href = "http://127.0.0.1:8000/accounts/register";  // Change This
});
</script>
    <script src="static/assets/js/jquery-1.10.2.min.js"></script>
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/js/main.js" %}"></script>
	<script src="{% static "assets/js/masonry.pkgd.min.js" %}"></script>
	<script src="{% static "assets/js/imagesloaded.js" %}"></script>
    <script src="{% static "assets/js/classie.js" %}"></script>
	<script src="{% static "assets/js/AnimOnScroll.js" %}"></script>
	<script>
		new AnimOnScroll( document.getElementById( 'grid' ), {
			minDuration : 0.4,
			maxDuration : 0.7,
			viewportFactor : 0.2
		} );
	</script>
  </body>
</html>
