<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#ef4138">
    <link rel="icon" href="/static/services/gallery/favicon.png">

    <title>Archive</title>

    <!-- Bootstrap core CSS -->
    {% include "menu_css.html" %}
    <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/assets/css/lostandfound.css" rel="stylesheet">

  </head>

  <body>

   {% include "menu.html" %}

    <div class="container-fluid">
      <div class="row">
       <!--  <div class="col-sm-3 col-md-2 sidebar">
        </div>
 -->
        <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-1 main">
          <h1 class="page-header" style="padding-top:50px;">Download links to events that are no longer available.</h1>
{% if user.is_authenticated %}
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>Event Name</th>
                  <th>Year</th>
                  <th>Link</th>
                </tr>
              </thead>
              <tbody>
              {% for i in links %}
                <tr>
                  <td>{{i.event_name}}</td>
                  <td>{{i.year}}</td>
                  <td><a href="{{i.link}}">{{i.link}}</a></td>
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
          {% else %}
          <input class="btn btn-danger" type="submit" value="Login to Download All" onclick="window.location.href='https://dopybitsgoa.com/accounts/login'" style="border-radius:20px;">
          {% endif %}
        </div>
      </div>
    </div>
    </div>
          <div class="container-fluid" style="background-color:#222 ;text-align: center;color:#f7f7f7;position: fixed;bottom: 0;width: 100%" >
          <p>© DoPy {% now "Y" %}. All rights reserved.</p>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include "menu_js.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/assets/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="https://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
  </body>
</html>
